<div class="row" text-center>
  <h2>Hard & Soft Skills</h2>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [showImage]="true"
    [imageSrc]="'../assets/html.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]=""
    [innerStrokeColor]="'#e2f740'"
    [animation]="true"
    [animationDuration]="400"
    [showSubtitle]="false"
    ></circle-progress>
  </div>


  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [showImage]="true"
    [imageSrc]="'../assets/CSS.png'"
    [imageHeight]="64"
    [imageWidth]="64"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#8f9499'"
    [innerStrokeColor]="'#e2f740'"
    [animation]="true"
    [animationDuration]="400"
    [showSubtitle]="false"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [showImage]="true"
    [imageSrc]="'../assets/boot.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#8f9499'"
    [innerStrokeColor]="'#e2f740'"
    [animation]="true"
    [animationDuration]="400"
    [showSubtitle]="false"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
    [percent]="95"
    [radius]="100"
    [showImage]="true"
    [imageSrc]="'../assets/js.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#8f9499'"
    [innerStrokeColor]="'#e2f740'"
    [animation]="true"
    [animationDuration]="400"
    [showSubtitle]="false"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [showImage]="true"
    [imageSrc]="'../assets/java.jpg'"
    [imageHeight]="60"
    [imageWidth]="60"
    [title]="'JAVA'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#8f9499'"
    [innerStrokeColor]="'#e2f740'"
    [animation]="true"
    [animationDuration]="400"
    [showSubtitle]="false"
    ></circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [showImage]="true"
    [imageSrc]="'../assets/python.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#8f9499'"
    [innerStrokeColor]="'#e2f740'"
    [animation]="true"
    [animationDuration]="400"
    [showSubtitle]="false"
    ></circle-progress>
  </div>
  
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [showImage]="true"
    [imageSrc]="'../assets/CSS.png'"
    [imageHeight]="64"
    [imageWidth]="64"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#8f9499'"
    [innerStrokeColor]="'#e2f740'"
    [animation]="true"
    [animationDuration]="400"
    [showSubtitle]="false"
    ></circle-progress>
  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [showImage]="true"
    [imageSrc]="'../assets/CSS.png'"
    [imageHeight]="64"
    [imageWidth]="64"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#8f9499'"
    [innerStrokeColor]="'#e2f740'"
    [animation]="true"
    [animationDuration]="400"
    [showSubtitle]="false"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [showImage]="true"
    [imageSrc]="'../assets/CSS.png'"
    [imageHeight]="64"
    [imageWidth]="64"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#8f9499'"
    [innerStrokeColor]="'#e2f740'"
    [animation]="true"
    [animationDuration]="400"
    [showSubtitle]="false"
    ></circle-progress>
  </div>


</div>
