<div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Captura de pantalla 2023-01-15 170053.jpg" class="img-fluid">
    </div>
 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
    <p>Beorlegui Diego Tomas</p>
    <p>Full Stack Web Developer jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span> 
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae vero rem quasi quo vel tenetur quidem beatae optio, hic nam veniam, impedit officiis! Similique aperiam iste porro voluptate ipsum culpa?</p>
    </span>
  </div>

</div>
