<div class="row">
    <h2> Educación</h2>
    <div class="col-lg-1" ></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Trabajo 1</h3> - <h4>(years)</h4>

            </li>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quae voluptatem, dolorem voluptate consequuntur dolor quibusdam pariatur expedita consectetur illo fuga corrupti porro rem modi qui unde. Est, quam voluptate?</p>
        
        </ul>
    
        <ul>
            <li>
                <h3>Trabajo 2</h3> - <h4>(years)</h4>

            </li>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quae voluptatem, dolorem voluptate consequuntur dolor quibusdam pariatur expedita consectetur illo fuga corrupti porro rem modi qui unde. Est, quam voluptate?</p>
        
        </ul>

        <ul>
            <li>
                <h3>Trabajo 3</h3> - <h4>(years)</h4>

            </li>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quae voluptatem, dolorem voluptate consequuntur dolor quibusdam pariatur expedita consectetur illo fuga corrupti porro rem modi qui unde. Est, quam voluptate?</p>
        
        </ul>

        <ul>
            <li>
                <h3>Trabajo 4</h3> - <h4>(years)</h4>

            </li>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quae voluptatem, dolorem voluptate consequuntur dolor quibusdam pariatur expedita consectetur illo fuga corrupti porro rem modi qui unde. Est, quam voluptate?</p>
        
        </ul>
    
    </div>
</div>

